.coin_search{
    margin-bottom: 64px;
    display: flex;
    align-items: center;
    width: 300px;
}

.coin_input{
    background-color: white;
    color: black;
    border: none;
    border-radius: 4px;
    padding: 16px;
    outline: none;
    height: 100%;
    width: 300px;
}

.coin_input::placeholder{
    color: black;
    
}